.ImageContainer {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ImageContainer:hover {
    transform: scale(1.02);
    transition: 500ms;
}

.HighContrast {
    opacity: var(--high-contrast);
}

.ToolsList {
    color: var(--white);
    opacity: var(--low-contrast);
}

.Flex {
    display: flex;
    gap: 20px;
}

.Container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
