.Title {
    margin-bottom: 1.5rem;
}

.Container {
    padding: 1.5rem 1.1313rem 1.5rem 1.313rem;
    max-width: 532px;
    margin-left: auto;
    margin-right: auto;
}

.Link {
    font-size: var(--font-l);
    opacity: var(--high-contrast);
    text-decoration: underline;
}

.Link:hover {
    color: blue;
    text-decoration-color: var(--white);
}

@media (min-width: 532px) {
    .Container {
        max-width: 732px;
    }
}

@media (min-width: 732px) {
    .Container {
        max-width: 1024px;
    }
}
