.Section {
    border-bottom: 1px solid var(--white);
    background: url('/blur.svg') no-repeat center;
    background-size: 100% 100%;
}

.HeaderContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: calc(92vh - 30px);
    max-width: 532px;
    padding: 1.125rem 1.1313rem 1.125rem 1.313rem;
}

.LinksContainer {
    display: flex;
    gap: 10px;
}

.IntroductionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.FlexGrow {
    flex-grow: 1;
}

.MarginTop {
    margin-top: 10px;
}

.Title {
    font-size: var(--font-l);
    font-weight: var(--weight-bold);
    opacity: var(--low-contrast);
}

.Bold {
    font-size: var(--font-xl);
    font-weight: var(--weight-black);
    opacity: var(--high-contrast);
}

.LowContrast {
    opacity: var(--low-contrast);
}

.HighContrast {
    opacity: var(--high-contrast);
}

.HighContrast:hover {
    opacity: var(--low-contrast);
}

.Link:hover {
    opacity: var(--high-contrast);
}

.Vertical {
    writing-mode: vertical-rl;
    padding: 5px;
}

.MaxWidthChar {
    max-width: 70ch;
}

@media (min-width: 532px) {
    .HeaderContainer {
        max-width: 732px;
    }
}

@media (min-width: 732px) {
    .Breakpoint {
        display: none;
    }

    .Section {
        display: flex;
        justify-content: space-between;
    }

    .HeaderContainer {
        flex-grow: 1;
    }

    .Flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .HeaderContainer {
        max-width: 1024px;
    }

    .Container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/* @media (min-width: 1024px) {
    .Container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
} */

@media (min-width: 1440px) {
    .HeaderContainer {
        max-width: 1440px;
    }
}
