.Container {
    display: none;
    width: 40px;
    align-self: flex-end;
    margin: 0 1rem 0 1rem;
}

.Wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.Wrapper:after {
    content: '';
    display: block;
    width: 1px;
    height: 10rem;
    background-color: var(--white);
    align-self: center;
}

@media (min-width: 732px) {
    .Container {
        display: block;
    }
}
