.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 532px;
}

.NavContainer {
    padding: 1.125rem 1.1313rem 1.125rem 1.313rem;
    border-bottom: 1px solid var(--white);
}
