.NavContainer {
    padding: 1.125rem 1.1313rem 1.125rem 1.313rem;
    border-bottom: 1px solid var(--white);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 532px;
}

.NavContainer div {
    z-index: 10;
}

.Hamburger div {
    background-color: var(--background);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 1.125rem 1.1313rem 1.125rem 1.313rem;
    z-index: 10;
}

.Hamburger ul {
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.Hamburger a {
    font-size: 2.5rem;
    font-weight: var(--weight-bold);
}

.Hamburger a:hover {
    opacity: var(--high-contrast);
}

@media (min-width: 532px) {
    .NavContainer {
        max-width: 732px;
    }
}

@media (min-width: 732px) {
    .NavContainer {
        max-width: 100%;
    }
}
