@use './variables.scss' as v;

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;

    h2 {
        font-size: v.$font-s;
        font-weight: v.$font-normal;
        color: v.$low-contrast;
    }

    div {
        margin: v.$vert-margin-s;
    }

    div p {
        font-size: v.$font-xl;
        font-weight: v.$font-bold;
        color: v.$high-contrast;
    }

    p:nth-child(3) {
        font-size: v.$font-s;
        font-weight: v.$font-normal;
    }
}
