$fonts: 'Avenir Next', sans-serif;
$font-s: 1rem;
$font-xl: 2.1875rem;
$font-normal: 300;
$font-bold: 500;
$vert-margin-s: 10px 0 10px 0;
$white: #ffffff;
$low-contrast: rgba(white, 0.6);
$high-contrast: rgba(white, 0.87);
$background-color: #1f2933;
